.navbar {
    background-color: black;
    color: white;
}

.home-blurb {
    margin-bottom: 100px;
}

.footer {
    width: 100%;
}

.page-content {
    padding: 40px 0px;
}

.form-group {
    margin-bottom: 20px;
}

.diff-row {
    margin: 20px 0px;
}

.diff-row .col{
    max-height: 900px;
    overflow-y: scroll;
}