{% extends "layout.html" %}
{% block content %}
	<div class="compare-content">
		<div class="row">
            <div class="col-12">
                <h1>{{ title }}</h1>
                <hr>
            </div>
            <div class="col-md-6">
                <h2>Earliest Revision</h2>
                <p>Date: {{ first_date }}</p>
                <p>{{ first_article  | safe }}</p>
            </div>
            <div class="col-md-6">
                <h2>Latest Revision</h2>
                <p>Date: {{ second_date }}</p>
                <p>{{ second_article  | safe }}</p>
            </div>
        </div>
	</div>
{% endblock %}