{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row diff-row">
    <div class="col-6 col">
        <h2>Previous Revision</h2>
        {{ prev_revision|safe }}
    </div>
    <div class="col-6 col">
        <h2>New Revision</h2>
        {{ new_revision|safe }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Revisions</h2>
        <table class="diff">{{ diff|safe }}</table>
    </div>
</div>
</body>
{% endblock %}