{% extends "layout.html" %}
{% block content %}
	<div class="form-content">
        <h2>Make a Request</h2>
		<form action="{{ base_URL }}formrequest" method="get">
            <div class="form-group">
                <label for="endpoint" class="form-label">Endpoint</label>
                <select id="endpoint" name="endpoint" class="form-control">
                    <option value="Article History">Article History</option>
                    <option value="User History">User History</option>
                    <option value="Get Difference">Get Difference</option>
                </select>
            </div>
            <div class="form-group">
                <label for="tags" class="form-label">Tags (separated by comma with no space)</label>
                <textarea name="tags" rows="2" cols="30" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="keyword" class="form-label">User</label>
                <input type="text" id="user" name="user" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="keyword" class="form-label">Article</label>
                <input type="text" id="article" name="article" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="keyword" class="form-label">Keyword</label>
                <input type="text" id="keyword" name="keyword" value="" class="form-control">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <h3>Start Time:</h3>
                    </div>
                    <div class="col-12">
                        <label for="startTime" class="form-label">Start Time</label>
                        <input type="date" id="startTime" name="startTime" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="endTime" class="form-label">End Time</label>
                        <input type="date" id="endTime" name="endTime" class="form-control">
                    </div>
                    <div class="col-4">
                        <label for="keyword" class="form-label">Year</label>
                        <input type="number" id="startyear" name="startyear" class="form-control">
                    </div>
                    <div class="col-4">
                        <label for="keyword" class="form-label">Month</label>
                        <input type="number" id="startmonth" name="startmonth" class="form-control">
                    </div>
                    <div class="col-4">
                        <label for="keyword" class="form-label">Day</label>
                        <input type="number" id="startday" name="startday" class="form-control">
                    </div>
                    <div class="col-4">
                        <label for="keyword" class="form-label">Minute</label>
                        <input type="number" id="startminute" name="startminute" class="form-control">
                    </div>
                    <div class="col-4">
                        <label for="keyword" class="form-label">Second</label>
                        <input type="number" id="startsecond" name="startsecond" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <h3>End Time:</h3>
                    </div>
                    <div class="col-4">
                        <label for="keyword" class="form-label">Year</label>
                        <input type="number" id="endyear" name="endyear" class="form-control">
                    </div>
                    <div class="col-4">
                        <label for="keyword" class="form-label">Month</label>
                        <input type="number" id="endmonth" name="endmonth" class="form-control">
                    </div>
                    <div class="col-4">
                        <label for="keyword" class="form-label">Day</label>
                        <input type="number" id="endday" name="endday" class="form-control">
                    </div>
                    <div class="col-4">
                        <label for="keyword" class="form-label">Minute</label>
                        <input type="number" id="endminute" name="endminute" class="form-control">
                    </div>
                    <div class="col-4">
                        <label for="keyword" class="form-label">Second</label>
                        <input type="number" id="endsecond" name="endsecond" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="visualize">Visualization</label>
                <select id="visualize" name="visualize">
                 <option value="">None</option>
                  <option value="revisions_per_time">Histogram</option>
                  <option value="revisions_per_user">Pie Chart</option>
                </select>
              </div>
            <input type="submit" value="Submit Request" class="btn btn-primary">
          </form>
	</div>
{% endblock %}
